@font-face {
  font-family: "Handwritten";
  src: url("./assets/Antro_Vectra_Bolder.otf") format("opentype");
}

@font-face {
  font-family: "Typewriter";
  src: url("./assets/JMH_Typewriter.otf") format("opentype");
}

:root {
  color-scheme: light dark;
  color: var(--text-color);

  background-color: var(--app-and-hover-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100dvh;

  font-family: Typewriter, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  scroll-behavior: smooth;

  --border: 2px solid var(--border-color);
  --planned-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-planned-color) 100%);
  --ongoing-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-ongoing-color) 100%);
  --done-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-done-color) 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  max-width: 1000px;
  margin: 50px auto;
  padding: 0 50px;
}

/* .background-image-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: -1;
} */

form {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  background-color: var(--input-and-button-background-color);
  border-radius: 10px;
  border: var(--border);
}

input, textarea, button {
  border: none;
  color: var(--text-color);
  font-family: Typewriter;
  line-height: 1.5;
}

input {
  height: 30px;
  padding: 0 20px;
  width: 100%;
  font-size: 1.17em;
  background-color: var(--input-and-button-background-color);
}
textarea {
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  min-height: 82px;
  width: auto;
  resize: none;
  font-size: 1rem;
  text-align: justify;
  background-color: var(--input-and-button-background-color);
}

input:focus, textarea:focus {
  outline: none;
  background-color: var(--input-and-button-selected-color);
}
.contains-text {
  background-color: var(--input-and-button-selected-color);
}

label {
  cursor: pointer;
}

button {
  height: 30px;
  width: 60px;
  font-size: 12px;
  font-weight: bold;
  font-family: monospace;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
  margin: 0 60px;
}

h3 {
  height: 23px;
  line-height: 1.22;
}

.appTitle {
  position: relative;
  height: 70px;
  pointer-events: none;
}
.mainTitle {
  position: absolute;
  top: 60px;
  right: 0;
  line-height: 10px;
  font-family: Handwritten;
  font-size: 100px;
}
.subTitle {
  position: absolute;
  font-family: Typewriter;
  height: 56px;
  font-size: 50px;
  line-height: 48px;
  top: 22px;
  right: 105px;
  color: transparent;
}
.subTitleFront {
  background: linear-gradient(to right, 
              var(--status-planned-color), 
              var(--status-ongoing-color), 
              var(--status-done-color));
  -webkit-background-clip: text;
  background-clip: text;
}
.subTitleShadow {
  text-shadow: -1px 1px 0 #000, 
                1px 1px 0 #000, 
                1px -1px 0 #000, 
                -1px -1px 10px #000;
}

::placeholder {
  color: var(--input-and-button-placeholder-color);
  opacity: 1; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: var(--input-and-button-placeholder-color);
}

.add-button {
  background-color: var(--input-and-button-background-color);
  color: var(--input-and-button-background-color);
}

.add-button-active {
  border-radius: 8px;
  background-color: var(--input-and-button-selected-color);
  color: var(--text-color);
  font-size: 14px;
}
.add-button-active:hover {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--app-and-hover-background-color);
}

.searchAndSort {
  display: grid;
  grid-template-columns: auto 170px 290px;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "search theme sort";
  margin-top: 30px;
  border: var(--border);
  border-radius: 10px;
}
.searchfield {
  grid-area: search;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 100px;
  font-size: 13px;
}
.themeswitcher {
  width: 170px;
  grid-area: theme;
}
.sortswitcher {
  display: grid;
  grid-template-columns: auto 60px 60px;
  grid-area: sort;
}
.sort-button {
  background-color: var(--input-and-button-background-color);
}
.sort-button-active {
  background-color: var(--input-and-button-selected-color);
}
.sort-button:hover {
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--app-and-hover-background-color);
}
.desc-button {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

p {
  text-align: justify;
  padding: 20px 20px 40px 20px;
}

.addTaskTitle {
  display: flex;
  justify-content: space-between;
}

.createTaskTitle {
  padding: 0px;
  border-radius: 10px;
  width: calc(100% - 436px);
}

.task {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 123px;
  grid-template-rows: 1fr 36px;
  gap: 27px;
  row-gap: 0px;
  grid-template-areas: 
  "text text date"
  "status updated buttons";
  margin: 30px 0 0 0;
  padding: 20px 24px 20px 25px;
  user-select: none;
  border-radius: 10px;
}

.Planned, .Ongoing, .Done {
  border: var(--border);
}
.Planned {
  background: var(--planned-status-background);
}
.Ongoing {
  background: var(--ongoing-status-background);
}
.Done {
  background: var(--done-status-background);
}

.taskText {
  grid-area: text;
  width: 100%;
  max-width: 812px;
}

.editTask {
  display: flex;
  flex-direction: column;
}

.editTaskTitle {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.17em;
  padding: 0px;
  height: 23px;
}

.editTaskText {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.taskDates {
  grid-area: date;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 123px;
  min-width: 123px;
  height: 123px;
  text-align: center;
  padding-top: 1px;
  padding-right: 2px;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: var(--app-and-hover-background-color);
  font-family: Handwritten;
  border: var(--border);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.taskStatus {
  grid-area: status;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.taskStatus input[type="radio"] {
  display: none;
}
.taskStatus label {
  position: relative;
  cursor: pointer;
}
.taskStatus label::before {
  position: absolute;
  top: 2px;
  left: -24px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: var(--border);
  border-radius: 50%;
  background-color: var(--app-and-hover-background-color);
}
.taskStatus input[type="radio"] {
  top: 0px;
  width: 22px;
  height: 22px;
}
.taskStatus [value="Planned"]:checked + label::before {
  border: 1px solid var(--status-planned-color);
  background: var(--status-planned-color);
}
.taskStatus [value="Ongoing"]:checked + label::before {
  border: 1px solid var(--status-ongoing-color);
  background: var(--status-ongoing-color);
}
.taskStatus [value="Done"]:checked + label::before {
  top: -6px;
  left: -25px;
  width: 26px;
  height: 26px;
  border: 1px solid var(--status-done-color);
  background: var(--status-done-color);
  -webkit-mask: url('./assets/checkmark.png') center / contain no-repeat;
          mask: url('./assets/checkmark.png') center / contain no-repeat;
}

.updated {
  grid-area: updated;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
}

.actionButtons {
  grid-area: buttons;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 3px;
}
.actionButtons * {
  border: var(--border);
  background-color: var(--input-and-button-background-color);
  border-radius: 6px;
}
.actionButtons *:hover {
  background-color: var(--app-and-hover-background-color);
  color: var(--text-color);
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalContent {
  background: var(--task-background-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  border: var(--border);
}

.modalContent button {
  font-size: 16px;
  padding-bottom: 2px;
}

.deletingTask {
  padding-bottom: 20px;
  text-align: center;
  border: var(--border);
  background-color: var(--app-and-hover-background-color);
  border-radius: 10px;
  margin-bottom: 20px;
}

.deletingOverlay {
  position: absolute;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  margin: 2px;
  top: 0;
  left: 0;
  z-index: 1;
  border: 3px dashed var(--app-and-hover-background-color);
  border-radius: 8px;
}

@media (max-width: 940px) {
  .updated {
    display: none;
  }
}

@media (max-width: 850px) {
  .appTitle {
    height: 90px;
  }
  .mainTitle {
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    width: 100%;
    text-align: center;
  }
  .subTitle {
    font-size: 25px;
    line-height: 24px;
    top: 14px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
    width: 170px;
  }
  .addTaskTitle {
    gap: 20px;
  }
  .createTaskTitle {
    width: 100%;
  }
  .searchAndSort {
    grid-template-columns: auto 290px;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "search sort";
  }
  .themeswitcher-container {
    display: none;
  }
}

@media (max-width: 650px) {
  :root {
    --planned-status-background: linear-gradient(to bottom, var(--status-planned-color) 143px, var(--border-color) 143px, var(--border-color) 145px, var(--task-background-color) 145px, var(--task-background-color) 100%);
    --ongoing-status-background: linear-gradient(to bottom, var(--status-ongoing-color) 143px, var(--border-color) 143px, var(--border-color) 145px, var(--task-background-color) 145px, var(--task-background-color) 100%);
    --done-status-background: linear-gradient(to bottom, var(--status-done-color) 143px, var(--border-color) 143px, var(--border-color) 145px, var(--task-background-color) 145px, var(--task-background-color) 100%);
  }
  body {
    margin: 20px auto;
    padding: 0 20px;
  }
  form {
    padding: 20px;
  }
  textarea, p, h3, .editTaskTitle, .taskStatus {
    text-align: center;
  }
  textarea {
    margin-bottom: 0px;
  }
  p {
    padding: 20px;
  }
  .task {
    grid-template-columns: 1fr;
    grid-template-rows: 123px 1fr 36px 36px;
    gap: 27px;
    grid-template-areas: 
    "date"
    "text"
    "status"
    "buttons";
    place-items: center;
    margin: 30px 0 0 0;
    padding: 20px 24px 20px 25px;
  }
  .taskStatus {
    font-size: 14px;
    gap: 40px;
  }
  .taskStatus label::before {
    top: 1px;
  }
  .taskStatus [value="Done"]:checked + label::before {
    top: -7px;
  }
  .searchAndSort {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "search"
    "sort";
  }
  .searchfield {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0px;
  }
  .desc-button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 8px;
  }
  .select-selected {
    border-bottom-left-radius: 8px;
  }
}