:root {
  --app-background-color: #252525;
  --border-color: #000000;
  --text-color: #ffffff;

  --input-and-button-placeholder-color: #ffffff80;
  --input-and-button-background-color: #3b3b3b;
  --input-and-button-focus-color: #494949;

  --CTA: #008000;
  --CTA-background: #000;

  --task-background-color: #242424;

  --status-planned-color: #ff0000;
  --status-ongoing-color: #ffa500;
  --status-done-color: #008000;

  --cancel-and-delete-font-color: #ff0000;

  --border: 2px solid var(--border-color);

  --planned-status-background: linear-gradient(to right, var(--task-background-color) 0%, var(--status-planned-color) 100%);
  --ongoing-status-background: linear-gradient(to right, var(--task-background-color) 0%, var(--status-ongoing-color) 100%);
  --done-status-background: linear-gradient(to right, var(--task-background-color) 0%, var(--status-done-color) 100%);
}

.ocean-theme {
  --app-background-color: #08090A;
  --border-color: #000000;
  --text-color: #DAE9F5;

  --input-and-button-placeholder-color: #dae9f580;
  --input-and-button-background-color: #162f5a;
  --input-and-button-focus-color: #0e1d38;

  --CTA: #000;
  --CTA-background: #DAE9F5;

  --task-background-color: #0e1d38;

  --status-planned-color: #DD4545;
  --status-ongoing-color: #E79D6C;
  --status-done-color: #397D5B;

  --cancel-and-delete-font-color: #ff0000;

  --border: 2px solid var(--border-color);

  --planned-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-planned-color) 100%);
  --ongoing-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-ongoing-color) 100%);
  --done-status-background: linear-gradient(to right, var(--task-background-color) 32%, var(--status-done-color) 100%);
}