:root {
  background-image: url('./assets/forest.jpg');

  --app-and-hover-background-color: #252525;
  --border-color: #000000;
  --text-color: #eeeeee;

  --input-and-button-placeholder-color: #ffffff80;
  --input-and-button-background-color: #454545;
  --input-and-button-selected-color: #515151;

  --task-background-color: #343434;

  --status-planned-color: #ff0000;
  --status-ongoing-color: #ffa500;
  --status-done-color: #008000;
}

.jungle-theme {
  background-image: url('./assets/monstera.jpg');

  --app-and-hover-background-color: #08090A;
  --border-color: #000000;
  --text-color: #DAE9F5;

  --input-and-button-placeholder-color: #dae9f580;
  --input-and-button-background-color: #162f5a;
  --input-and-button-selected-color: #204383;

  --task-background-color: #122548;

  --status-planned-color: #DD4545;
  --status-ongoing-color: #E79D6C;
  --status-done-color: #397D5B;
}

.industrial-theme {
  background-image: url('./assets/industrial.jpg');

  --app-and-hover-background-color: #c3c8d4;
  --border-color: #000000;
  --text-color: #1a1a1a;

  --input-and-button-placeholder-color: #000000;
  --input-and-button-background-color: #b6b6b6;
  --input-and-button-selected-color: #8e8e8e;

  --task-background-color: #a1a3a2;

  --status-planned-color: #bdbdbd;
  --status-ongoing-color: #888888;
  --status-done-color: #525252;
}